/* Everything here is dumbed-down because kindlegen needs
 * to read it and kindlegen is dumb. */

#title-header {
  -webkit-margin-after: 4px;
}

#top-links     { font-size: 14px; }
#end-paragraph { font-size: 14px; }

div.content {
  margin-top: 10px;
}

div.content span.pb-caption { font-size: 13px; }
div.content figcaption      { font-size: 13px; }
div.content div.img-title   { font-size: 13px; }

div.content blockquote {
  background-color: #dbdbd7;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
  padding: 2px 1em;
  border-radius: 16px;
}
div.content blockquote li {
  margin-left: 14px;
}

div.content img {
  max-width: 100%;
}
div.content a:visited {
  color: #505030;
}
div.content hr {
  border: 0;
  height: 1px;
  background-color: #000;
}
