#top-links, #end-paragraph {
  font-size: 14px;
}

div.content span.pb-caption, div.content figcaption {
  font-size: 13px;
}
div.content blockquote {
  background-color: #dbdbd7;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
  padding: 2px 1em;
  border-radius: 16px;
}
div.content img {
  max-width: 100%;
}
div.content a:visited {
  color: #505030;
}

/* Ugh, nesting these selectors within div.content confuses kindlegen. */
a.skip-to-text-link,  /* NYT "Continue reading the main story" links */
div.socialStrip,      /* nationaljournal.com */
span.ticker,          /* WSJ stock info */
span.t-content {      /* WSJ stock info */
  display: none;
}
